$light-brown: #fef7f2;
$dark-brown: #a48079;
$dark-blush: #cd9494;
$medium-blush: #d1a299;
$blush: #e8d1c7;

/* START BOOTSTRAP OVERRIDES */

.container-xl-custom {
  max-width: 1400px !important;
}

/* END BOOTSTRAP OVERRIDES */

/* START FONT STYLES */

@font-face {
  font-family: "Tan Mon Cheri";
  src: url("../../fonts/tan-mon-cheri.eot");
  src: url("../../fonts/tan-mon-cheri.woff2") format("woff2"),
    url("../../fonts/tan-mon-cheri.woff") format("woff");
}

.mon-cheri {
  font-family: "Tan Mon Cheri", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* END FONT STYLES */
body {
  max-width: 100vw;
}

section {
  height: 100vh;
}

#title-section {
  background-color: $light-brown;

  .navbar {
    text-transform: uppercase;
    background-color: $light-brown;
    color: $dark-blush !important;
    z-index: 100;
    letter-spacing: 6px;
    #june-bug-logo {
      max-width: 80px;
    }
    .navbar-brand {
      color: $dark-blush;
    }
    .line-vertical {
      border-right: 1.75px solid $dark-blush;
      height: 30px;
    }
    .nav-link {
      color: $dark-blush;
      font-size: 1em;
      width: 135px;

      &:after {
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        display: block;
        transition: all 0.3s ease;
        bottom: 25%;
      }

      &:hover::after {
        width: 114px;
        height: 1px;
        background-color: $dark-blush;
      }
    }
    a.position-absolute {
      left: 14px;
    }
  }

  #june-bug-tile-section-bg-image {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("../../images/woman-facing-away-in-mirror.jpg");
  }

  #june-big-title-section-doula-image {
    border: 20px solid $light-brown;
    height: 500px;
    width: 300px;
    background-image: url(../../images/aubrey-smiling-forward.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;
    left: -150px;
  }

  #june-bug-title-section-text-container {
    top: 0;
    #june-bug-title-section-text {
      color: $dark-blush;
      text-transform: uppercase;

      .line {
        border-bottom: 1px solid $dark-blush;
        width: 200px;
        display: block;
      }

      h1 {
        font-size: 5em;
        font-family: "Tan Mon Cheri", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
      }
      p {
        letter-spacing: 6px;
      }
      .text-larger {
        font-size: 1.5em;
      }
    }
    #june-big-title-setion-doula-image {
      border: 20px solid $light-brown;
      height: 500px;
      width: 300px;
      background-image: url(../../images/aubrey-smiling-forward.jpg);
      background-size: cover;
      background-position: center;
    }
  }
}

#about-me-section {
  #about-me-section-bg {
    height: 100vh;
    .cream-bar-top,
    .cream-bar-bottom {
      background-color: $light-brown;
      height: 15vh;
    }

    .blush-bar {
      background-color: $blush;
      height: 70vh;
    }
  }

  .container-xl-custom {
    .row {
      #about-header {
        height: 15vh;
        h2 {
          color: $dark-blush;
          line-height: normal !important;
          text-transform: uppercase;
          font-size: 1.5em;
          font-family: "Tan Mon Cheri", Arial, Helvetica, sans-serif;
          text-transform: uppercase;
        }
      }
      .col-6 {
        height: 35vh;
        .text-container {
          letter-spacing: 2px;

          h3 {
            color: $dark-brown;
            line-height: normal !important;
            text-transform: uppercase;
            font-size: 2.5em;
            font-family: "Tan Mon Cheri", Arial, Helvetica, sans-serif;
            text-transform: uppercase;
          }

          p {
            color: $dark-brown;
            font-size: 1.25em;
          }
        }
      }

      #about-me-img-container {
        position: absolute;
        bottom: 0;

        #about-me-img {
          border: 20px solid $light-brown;
          border-bottom: none;
          height: 80vh;
          width: 100%;
          background-image: url(../../images/aubrey-smiling-hands-in-pockets.jpg);
          background-size: cover;
          background-position: center;
          border-top-left-radius: 50rem;
          border-top-right-radius: 50rem;
        }
      }
    }
  }
}

#why-section {
  background-color: $light-brown;
  height: 100vh;

  .row {
    .col-12 {
      height: 100vh;
      .row {
        #june-bug-why-section-image {
          z-index: 2;
          border: 20px solid $light-brown;
          height: 100%;
          background-image: url(../../images/woman-holding-belly.jpg);
          background-size: cover;
          background-position: center;
        }

        .col-8 {
          z-index: 2;
          width: 100%;
          height: 100%;
          right: 0;

          .text-container {
            max-width: 700px;
            color: $light-brown;
            h3 {
              font-size: 3.25em;
            }
            p {
              font-size: 1.25em;
            }
          }
        }
        .col-10 {
          .bg-container {
            background-color: $medium-blush;
            height: 100%;
            width: 100%;
            border-top-right-radius: 5em;
            border-bottom-right-radius: 5em;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .about-me-item-wrapper {
    height: 70vh !important;
  }

  #about-me-img-container {
    position: absolute;
    bottom: 0;
    left: 29%;

    #about-me-img {
      border: 20px solid $light-brown;
      border-bottom: none;
      height: 80vh;
      width: 100%;
      background-image: url(../../images/aubrey-smiling-hands-in-pockets.jpg);
      background-size: cover;
      background-position: center;
      border-top-left-radius: 50rem;
      border-top-right-radius: 50rem;
    }
  }
}

@media (min-width: 1200px) {
}
